@{
    ViewData["Title"] = "AnaSayfa";
}
<div class="Thisdiv">
    <div class="text-center">
        <br /><br /><br /><br /><br /><br />
        <h1 class="display-1 text-center">Kişisel Adres Defteri </h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <br /><br />

        <a asp-controller="Persons" asp-action="PersonsList" class="btn btn-warning text-black px-5"><i class="fa-solid fa-address-card"></i> Kişi Listesi</a>

        <a asp-controller="Persons" asp-action="Add" class="btn btn-warning text-black mx-5 px-5"><i class="fa-solid fa-user-plus"></i> Kişi Ekleme</a>
        <br /><br /><br /><br /><br /><br />
    </div>
</div>